form#editEventForm .row {
    margin-top: 16px;
}

form#editEventForm .row .col .form-check {
    margin-top: 38px;
    margin-bottom: auto;
}

#guestListSelector .row {
    margin-top: auto !important;
}

#eventDetailsViewer img {
    max-width: 100%;
}