#guestListForm .row {
    margin-top: 10px;
}

#guestCardsRow {
    max-height: 450px;
    overflow-y: auto;
}


#guestCardsRow .row {
    margin-bottom: 10px;
}

#altAddresses .list-group-item:hover {
    cursor: pointer;
    color: #78c2ad;
}

#removeGuestButton {
    height: 100%;
}

#guestListRow {
    border: 1px dashed #f3969a;
    padding: 10px;
    margin-bottom: 15px;
}

#guestListRowGuests {
    margin-bottom: 10px;
    max-height: 500px;
    overflow-y: scroll;
    padding-right: 5px;
}

#guestListsContainer {
    margin-bottom: 10px;
    max-height: 500px;
    overflow-y: scroll;
    padding-right: 5px;
}

#guestRsvpItem {
    text-align: center;
    border: 5px solid #78c2ad;
    border-radius: 1%;
    margin: 4px;
    padding: 8px;
}