.invitation-preview {
    background-image: url('https://images.unsplash.com/flagged/photo-1620830102229-9db5c00d4afc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
    background-repeat: no-repeat;
    height: 335px;
    background-size: 100% 100%;
    padding-top: 15px;
}

#imageDrop {
    border: 1px dashed darksalmon;
    margin: 4px;
    text-align: center;
    padding-top: 8px;
}

#imageDrop p {
    margin-top: 2px;
}

#imageDrop:hover {
    cursor: pointer;
}