#landingPageContainer {
    background-image: url("https://wedding.codinghouse.dev/assets/always-forever.jpg");
    background-repeat: no-repeat;
    min-height: 945px;
    background-size: 100% 100%;
}