.float-right {
    float: right !important;
}

.sidebar {
    position: absolute;
    top: 15%;
    left: 2%;
    height: 100%;
}


.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 15px;
}

.sidenav-icon-container {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar .sticky {
    background-color: #78c2ad71 !important;
    padding-top: 10px;
    border-radius: 15px;
}

#mainColContainer .container {
    margin-top: 25px;
}

#mainColContainer .container-fluid {
    margin-top: 25px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f3969b52;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6cc3d5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5ca6b5;
}


/* width */
.alt-scroll::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.alt-scroll::-webkit-scrollbar-track {
    background: #78c2ad7c;
}

/* Handle */
.alt-scroll::-webkit-scrollbar-thumb {
    background: #f3969a;
}

/* Handle on hover */
.alt-scroll::-webkit-scrollbar-thumb:hover {
    background: #cf8083;
}

#icon-primary {
    color: #f3969a;
}


#icon-primary:hover {
    cursor: pointer;
    color: #cf8083;
}

#icon-success {
    color: #56cc9d;
}


#icon-success:hover {
    cursor: pointer;
    color: #45a37e;
}

#photoGallCol {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 100px;
    max-height: 600px;
    margin-bottom: 75px;
    overflow-y: scroll;
    max-width: 95%;
    align-content: center;
    align-self: center;
    overflow-x: hidden;
    border: #cf8083 dashed 0.5px;
}

/* width */
#photoGallCol::-webkit-scrollbar {
    display: none;
}

.float-left {
    float: left !important;
}

form#registryForm .row {
    margin-bottom: 10px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h3.Title {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#activeCard:hover {
    cursor: pointer;
}

footer#weddingFooter {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-top: 10px !important;
}

#content-container {
    min-height: 600px;
}

.react-images__view-image {
    max-height: 100vh !important;
}

.react-images__view-image.react-images__view-image--isFullscreen {
    max-height: 100vh !important;
}

.react-images__view-image.react-images__view-image--isModal {
    max-height: 100vh !important;
}

.card-columns div.card {
    display: inline-block;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

@media only screen and (max-width: 480px) {
    #galleryCardContainer div.card {
        max-width: 100% !important;
    }
}

#allEvents {
    max-height: 1800px;
    overflow-y: scroll;
}

#allEvents::-webkit-scrollbar {
    display: none;
}

form#updateNotesForm .form-group {
    margin-top: 16px;
}

form#updateNotesForm .form-check {
    margin-left: 1em;
}

#notesView img {
    max-width: 100%;
}

.roundProfilePic {
    max-width: 25%;
    max-height: 100px;
}